doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		meta(name="format-detection" content="telephone=no") 
		link(type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css")
		//- link(type="text/css" rel="stylesheet" href="../../css/bundle/manage.css")
		block title 
	body
		block content
		
