@import "../common/util"

intro()
	.swiper-slide img
		width 100%
	.swiper-container
	  width 100%
	  height 100%
	.swiper-slide
	  text-align center
	  font-size 18px
	  background #fff
	  display -webkit-box
	  display -ms-flexbox
	  display -webkit-flex
	  display flex
	  -webkit-box-pack center
	  -ms-flex-pack center
	  -webkit-justify-content center
	  justify-content center
	  -webkit-box-align center
	  -ms-flex-align center
	  -webkit-align-items center
	  align-items center
	.header h1
		font-size $rem(30px)
	.back
			font-size $rem(40px)
	.content
		background-color #F6F6F6
		color #000
	.general,.coupon,.extral,.notice
		margin-bottom $rem(20px)
	.general .menu,.coupon .item,.notice h3
		border-bottom $rem(1px) solid #B3B3B3
	.general .menu,.coupon .item,.extral,.notice h3
		$setFlex(flex-start)
		height $rem(56px)
		padding $rem(0 20px)
	.general .menu p,.general .menu strong,.extral span
		$setFlex(flex-start)
	.extral .arrow-right 
		margin-left $rem(10px)
	.arrow-right 
		width $rem(14px)
		height $rem(22px)
	.icon-phone img,.icon-address img
		width $rem(20px)
		height $rem(30px)
		margin-right $rem(5px)
	.general .menu,.extral
		justify-content space-between
	.general .menu strong
		color #4C4C4C
	.extral .start img
		width $rem(140px)
		height $rem(32px)
	.coupon
		border-top $rem(1px) solid #d9d9d9
	.extral,.notice h3
		border-top $rem(1px) solid #B3B3B3
		border-bottom $rem(1px) solid #B3B3B3
	.codation
		padding $rem(10px 34px)
		text-indent $rem(50px)
		line-height $rem(40px)
		border-bottom $rem(1px) solid #B3B3B3
	.picture img
		width 100%
	.footer
		height $rem(88px)
		background-color #000
		.active
			border-bottom $rem(4px) solid #e38f03
		.navigator
			width 100%
			display flex
			border-bottom $rem(1px) solid #fff
			background-color #000
		.navigator li
			flex 1
			text-align center
			color #fff
			font-size $rem(20px)
			padding $rem(15px 0px)
			$setFlex()
			flex-direction column
		.navigator li em
			background-repeat no-repeat
			background-positioin center center
			display block
			width $rem(32px)
			height $rem(32px)
			background-size $rem(32px) $rem(32px)
		.navigator li strong
			font-weight normal
		.navigator li:nth-child(1) em
			background-image url("../../images/nqpb_01.png")
		.navigator li:nth-child(2) em
			background-image url("../../images/nqpb_02.png")
		.navigator li:nth-child(3) em
			background-image url("../../images/nqpb_03.png")
		.navigator li:nth-child(4) em
			background-image url("../../images/nqpb_04.png")