extends ./common/layout
block title  
  link(type="text/css" rel="stylesheet" href="../../lib/swiper/css/swiper.min.css")
  title 美美蛋糕店
block content
  - var title = '美美蛋糕店';
  div(class="intro container")
    include ./common/header
    div(class="content")
      div(class="slide")
        .swiper-container
          .swiper-wrapper
            .swiper-slide 
              img(src="../../images/2_02.jpg")      
            .swiper-slide
              img(src="../../images/2_02.jpg")
          .swiper-pagination
      div(class="general")
        div(class="menu")
          em 
          p 湖州市安吉县递铺镇阳光工业区拥军路人民武装部
          strong >
        div(class="menu")
          em 
          p 0572-5318189
          strong >
      div(class="coupon")
        div(class="item")
          p 蔷薇养生馆50代金券
          a(class="btn") 立即抢购
        div(class="item")
          p 蔷薇养生馆50代金券
          a(class="btn") 立即抢购
      div(class="extral")
        span(class="start")
        span(class="") 112人评价 >
      div(class="notice") 
        h3 商家介绍
        div(class="cont")
          div(class="codation") 蔷薇养生馆主营：美容，美发，汗蒸，经络疏通，各项目排毒等。
          div(class="picture") 
            img(src="../../images/2_02.jpg")

    include ./common/footer
  script(src="../../lib/swiper/js/swiper.min.js")
  script(src="../../js/detail.js")