extends ./common/layout
block title  
  link(type="text/css" rel="stylesheet" href="../../lib/swiper/css/swiper.min.css")
  title 品冠假日酒店
block content
  - var title = '品冠假日酒店';
  div(class="intro container")
    include ./common/header
    div(class="content")
      div(class="slide")
        .swiper-container
          .swiper-wrapper
            .swiper-slide 
              img(src="../../images/shjj_01.png")      
            .swiper-slide
              img(src="../../images/shjj_01.png")
          .swiper-pagination
      div(class="general")
        div(class="menu")
          p 
            em(class="icon-address") 
              img(src="../../images/shjj_02.png")
            | 湖州市安吉县递铺镇阳光工业区拥军路人民武装部
          strong
            img(class="arrow-right" src="../../images/shjj_04.png")
        div(class="menu")
          p 
            em(class="icon-phone") 
              img(src="../../images/shjj_03.png")
            |0572-5318189
          strong 
            img(class="arrow-right" src="../../images/shjj_04.png")
      div(class="coupon")
        div(class="item")
          p 蔷薇养生馆50代金券
          a(class="btn") 立即抢购
        div(class="item")
          p 蔷薇养生馆50代金券
          a(class="btn") 立即抢购
      div(class="extral")
        span(class="start") 
          img(class="arrow-right" src="../../images/nqp_003.png")
        span(class="") 
          | 112人评价 
          img(class="arrow-right" src="../../images/shjj_04.png")
      div(class="notice") 
        h3 商家介绍
        div(class="cont")
          div(class="codation") 蔷薇养生馆主营：美容，美发，汗蒸，经络疏通，各项目排毒等。蔷薇养生馆主营：美容，美发，汗蒸，经络疏通，各项目排毒等。
          div(class="picture") 
            img(src="../../images/shjj_05.png")

    include ./common/footer
  script(src="../../lib/swiper/js/swiper.min.js")
  script(src="../../js/detail.js")