extends ./common/layout
block content
  - var title = '推荐商家';
  div(class="recommond container")
    include ./common/header
    div(class="content")
      ul(class="nav")
        li(class="control_select")
          label(class="select-wrap")
            select
              option 全部分类
              option 全部分类

        li(class="control_select")
          label(class="select-wrap")
            select
              option 全国
              option 全国
        li(class="control_select")
          label(class="select-wrap")
            select
              option 智能排序
              option 智能排序
      div(class="banner")
          img(src="../../images/nqp_001.jpg")
      div(class="detail")
        div(class="item")
          div(class="img")
            img(width="160" height="160" src="../../images/3_03.jpg")
          div(class="main")
            h2 安吉品冠假日酒店
            p(class="intro") 商业型酒店，休闲，度假，住宿
            p(class="extral") 
              em(class="star")
              strong 0.9km
        div(class="item")
          div(class="img")
            img(width="160" height="160" src="../../images/3_03.jpg")
          div(class="main")
            h2 安吉品冠假日酒店
            p(class="intro") 商业型酒店，休闲，度假，住宿
            p(class="extral") 
              em(class="star")
              strong 0.9km
    include ./common/footer
          


