extends ./common/layout
block content
  - var title = '商家优惠券订单';
  div(class="voucher container")
    include ./common/header
    div(class="content")
      div(class="item")
        div(class="cont")
          div(class="cont-on")
            div(class="name")
              img(src="../../images/3_03.jpg")
            div(class="item-detail")
              div(class="left")
                p(class="detail-title")
                  | 品冠假日酒店
                p(class="item-detail-sub detail-cont") 
                  em(class="text-intro") 仅限在线支付使用
              div(class="right")
                p(class="price")
                  em ¥50
                  strong(class="uncompete") 未消费