@import "../common/util"

present()
	.header
		h1
			font-size $rem(30px)
		.back
			font-size $rem(40px)
	.notice
		display flex
		height $rem(72px)
		align-items center
		span
			display flex
		.left
			margin-left $rem(45px)
			strong
				color #000
		.right
			flex 2
			margin-right $rem(45px)
			justify-content flex-start
			display flex
			a
				margin-left $rem(30px)
				font-size $rem(16px)
				font-weight normal
	.table thead tr,.table tbody tr
		display flex
	.table
		width 100%
		tr
			border-bottom $rem(1px) solid #b4b4b4
			font-size $rem(22px)
			color #000
		thead th
			background-color #f5f4f9
		tbody td,thead th
			flex 1
			height $rem(70px)
			display flex
			justify-content center
			align-items center
		tbody td:nth-child(1)
			color #9d9d9d
			font-weight normal
		tbody td:nth-child(2)
			color #f33718
		tbody td.positive
			color #f9c00e
		tbody td.negative
			color #f33718
	.btn
		padding $rem(5px 20px)
		color #fff
		font-weight bold
		
	.btn-success
		background-color #7cc373
	.btn-confirm
		background-color #f33718