@import "../common/util"

order()
	.header
		h1
			font-size $rem(30px)
		.back
			font-size $rem(40px)
	.nav,.item
		border-bottom $rem(1px) solid #b4b4b4
	.nav
		display flex
		background-color #f5f4f9
		height $rem(70px)
		justify-content center
		align-items center
		li
			flex 1
			text-align center
		.active
			color #f9c00e
	.item-header
		padding $rem(20px 34px)
		display flex
		justify-content space-between
		align-items center
		font-size $rem(22px)
		span
			flex 1
		span.right
			text-align right
			
	.item-body
		display flex
		justify-content center
		align-items center
		padding $rem(25px 34px)
		background-color #f5f5f5
		.img
			flex 1
			img
				width $rem(160px)
				height $rem(160px)
		.main
			flex 2
			margin-left $rem(34px)
			font-size $rem(22px)
			color #969696
		.on
			display flex
		.down
			margin-top $rem(10px)
			color #000
			text-align right
		.left
			flex 1
			display flex
			justify-content flex-start
			flex-direction column
			h2
				font-size $rem(24px)
				color #000
		.right
			flex 1
			display flex
			align-items flex-end
			flex-direction column
			h2
				font-size $rem(24px)
				color #000
			.origin-price
				text-decoration line-through
				margin-bottom $rem(20px)
				
	.item-footer
		padding $rem(20px 34px)
		display flex
		justify-content flex-end
	.btn
		color #fff
		font-weight bold
		width $rem(108px)
		height $rem(34px)
		line-height @height
		text-align center
		font-weight normal
		margin-right $rem(15px)
	.positive
		color #f9c00e
	.btn-cancel
		background-color #5aa8ea
	.btn-success
		background-color #7cc373
	.btn-confirm
		background-color #f33718
			
		
	
			
		
	