@import "../common/reset.styl"
@import "../common/component.styl"

@import "../center/business.styl"
// @import "../center/collect.styl"
// @import "../center/order.styl"

html,body
	height 100%
	overflow hidden
	font-size $rem(14px)
		
.business
	business()
	$setFlex()
	flex-direction column
	height 100%
	font-size $rem(32px)
	
	
	