@import "../common/reset.styl"
@import "../common/component.styl"
@import "../../iconfont/iconfont"

@import "../merchant/recommond.styl"
@import "../merchant/voucher.styl"
@import "../merchant/intro.styl"

general(100px,,,#000)

.recommond
	recommond()
	$setSelect()
.voucher
	voucher()
.intro
	intro()
