@import "../common/reset.styl"
@import "../common/component.styl"

@import "../my/gold.styl"
@import "../my/collect.styl"
@import "../my/order.styl"

general(100px,,#f9c00e,#000)

.gold
	gold()
.collect
	collect()
.order
	order()