@import "../common/reset.styl"
@import "../common/component.styl"

@import "../record/coupon.styl"
@import "../record/subscribe.styl"
@import "../record/present.styl"

general(100px,,#2a9fe4,#ffffff)

.coupon
	coupon(100px)
	
.subscribe
	subscribe()
.present
	present()
