extends ./common/layout
block content
  - var title = '我的收藏';
  div(class="collect container")
    include ./common/header
    div(class="content")
      div(class="item")
        div(class="img")
          img(width="160" height="160" src="../../images/3_03.jpg")
        div(class="main")
          div(class="left")
            h2 全家福澳式肉粒
            p 口味：五香味
            p 数量：x1
          div(class="right")
            h2 ¥31.8
            p(class="origin-price") ¥36.00
            a(class="btn btn-confirm") 立即购买
      div(class="item")
        div(class="img")
          img(width="160" height="160" src="../../images/3_03.jpg")
        div(class="main")
          div(class="left")
            h2 全家福澳式肉粒
            p 口味：五香味
            p 数量：x1
          div(class="right")
            h2 ¥31.8
            p(class="origin-price") ¥36.00
            a(class="btn btn-confirm") 立即购买