extends ./common/layout
block content
  - var title = '我的元宝';
  div(class="gold container")
    include ./common/header
    div(class="content")
      table(class="table")
        thead
          tr
            th 交易时间
            th 交易类型
            th 交易明细
        tbody
          tr
            td 2016-02-24
            td(class="positive") +185
            td 品冠假日酒店赠送
          tr
            td 2016-02-24
            td(class="negative") -185
            td 品冠假日酒店赠送