div(class="footer")
	ul(class="navigator")
		li 
			em(class="") 
			strong 商城首页
		li(class="active") 
			em(class="") 
			strong 本地生活
		li 
			em(class="") 
			strong 购物车
		li 
			em(class="") 
			strong 我的
