div(class="footer")
	div(class="navigator")
		a(class="item" href="#")
			em(class="") 
			strong 商城首页
		a(class="item active" href="#") 
			em(class="") 
			strong 本地生活
		a(class="item" href="#")
			em(class="") 
			strong 购物车
		a(class="item" href="#")
			em(class="") 
			strong 我的
